<!-- Mobile Top Nav Bar -->
<nav class="navbar">
    <div class="container-fluid">
        
        <a class="navbar-brand" href="../">
            <i class="fa-regular fa-snowflake d-inline-block "></i> GrievanceForum
        </a>

        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="width:180px">
                <img src="<%=userInfo['picture']%>" class="rounded-circle" style="width:20%;"/>
                <%=userInfo["name"]%>
            </button>
            <ul class="dropdown-menu w-100">
                <li>
                    <a class="dropdown-item" href="../profile">
                        <i class="fa-regular fa-user"></i> Profile
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" onclick="document.body.classList.toggle('dark-theme');localStorage.setItem('darkmode',localStorage.darkmode=='true'?false:true);try{changeImage();}catch{}">
                        <i class="fa-solid fa-circle-half-stroke"></i> Dark Mode
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" href="../logout" style="color:red;">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i> logout
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>