<!-- Mobile Bottom Nav Bar -->
<nav class="navbar fixed-bottom">
    <div class="container-fluid">

        <div class="row w-100 text-center">
            <div class="col">
                <a href="../dashboard" type="button" class="btn btn-link dashboard"> <i class="fa-solid fa-house"></i></a>
            </div>
            <div class="col">
                <a href="../manage" type="button" class="btn btn-link manage"> <i class="fa-solid fa-plus"></i></a>
            </div>
            <div class="col position-relative">
                <a href="../notification" type="button" class="btn btn-link notification"> <i class="fa-solid fa-bell"></i></a>
                <%if(xnotifications > 0){%>
                    <span class="position-absolute translate-middle badge rounded-pill bg-danger" style="top:20%;left:70%">
                        <%=xnotifications%>
                    <span class="visually-hidden">unread messages</span>
                <%}%>
            </div>
            <div class="col">
                <a href="../profile" type="button" class="btn btn-link profile"> <i class="fa-solid fa-user"></i></a>
            </div>
        </div>

    </div>
    <script>
        let mobile_url = window.location.href.split('/')[3].replace(" ","").replace("#","");
        if(mobile_url == '') document.getElementsByClassName("dashboard")[0].className = "btn btn-primary";
        else document.getElementsByClassName(mobile_url)[0].className = "btn btn-primary";
    </script>
</nav>